body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.the {
    color: orange;
}

h1 {
    font-size: 50px;
}

.kabjap {
    display: flex;
}

.ganjam {
    width: 50%;
    padding-left: 5%;
}

.ganjam img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-one {
    background-image: url(image/nasacorner.png);
    background-repeat: no-repeat;

}

.ganjam-two {
    width: 50%;
    padding: 5%;
}

.ganjam-two img {
    width: 100%;

}

.ganjam-three {
    width: 50%;
    margin: 5px 30px;
    padding: 0px 50px 80px 50px;
    box-shadow: 10px 10px 20px;
    border: 10px solid orange;

}

.h1 {
    font-size: 35px;
}

#id1 {
    border-left: 10px solid green;
}

#id2 {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}